html
  head
    title= 'CarMaintenance'
  body
    script(src="initial_app.bundle.js" type="javascript/text")
    div(id="container")
    script
      include ../../../dist/car_maintainance.bundle.js